.button{
  border: none;
  outline: none;
  padding-inline: 1rem;
  padding-block: .5rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &.primary-button{
    background-color: #ea4141;
    color: #f5f2f2;
  }

  &:active{
    transform: scale(0.9);
  }
}